Xft.dpi: 192

! special
*.foreground:   #ff8200
*.background:   #000000
*.cursorColor:  #ff8200

! black
*.color0:       #ff374d
*.color8:       #777777

! red
*.color1:       #9d004a
*.color9:       #00ff03

! green
*.color2:       #006660
*.color10:      #7e5593

! yellow
*.color3:       #ff7926
*.color11:      #62e064

! blue
*.color4:       #ff89b0
*.color12:      #7d3a3a

! magenta
*.color5:       #871d24
*.color13:      #47dc4a

! cyan
*.color6:       #007588
*.color14:      #ff73b3

! white
*.color7:       #3f1515
*.color15:      #1bdcff
